// Button
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/icon-button";
@use "@material/icon-button/styles";

//AppBar
@use "@material/top-app-bar/mdc-top-app-bar";

//lists
@use "@material/image-list";

//Data tables
@use "@material/data-table/data-table";


//floating action button
@use "@material/fab";

//card
@use "@material/card";

//checkboxes
@use "@material/checkbox";
@use "@material/form-field";

@use "@material/chips/styles" as a-style;

// Menu
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";

//tabs
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@include checkbox.core-styles;
@include form-field.core-styles;

@include card.core-styles;

@include fab.core-styles;


@include data-table.core-styles;
@include data-table.theme-baseline;

.my-masonry-image-list {
    @include image-list.masonry-columns(3);
  }


.foo-button {
@include button.container-fill-color(darksalmon);
}

.my-card {
  height: 50px;
  width: 350px;
  padding: 16px;
}


*{
    margin:0;
}
